.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid #0071a1;
    z-index: 5;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__logo {
        position: relative;
        max-width: 70px;
        width: 100%;
        aspect-ratio: 140 / 120;
        z-index: 5;
    }

    &__hello {
        font-weight: 700;
        color: #0071a1;
    }

    &__content {
        color: #ffffff;
        font-size: 38px;
        line-height: 1.25;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }

    &__animation {
        justify-items: center;
        height: 48px;
        overflow: hidden;
    }

    &__animation > div > div {
        padding: 2px 15px;
        height: 48px;
        width: 100%;
        margin-bottom: 4px;
        display: inline-block;
    }

    &__animation div:first-child {
        animation: text-animation 12s infinite;
    }
    
    &__name div {
        background-color: #20a7d8;
    }
    
    &__technology div {
        background-color: #d06b00;
    }
    
    &__position div {
        background-color: #00946f;
    }
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 0;
    }
    20% {
        margin-top: -48px;
    }
    30% {
        margin-top: -48px;
    }
    40% {
        margin-top: -96px;
    }
    60% {
        margin-top: -96px;
    }
    70% {
        margin-top: -48px;
    }
    80% {
        margin-top: -48px;
    }
    90% {
        margin-top: 0;
    }
    100% {
        margin-top: 0;
    }
}
